*/keys.json
*private_key.txt
packages/fetchai/
packages/open_aea/
packages/valory/connections/abci/
packages/valory/connections/http_client/
packages/valory/connections/ipfs/
packages/valory/connections/ledger/
packages/valory/connections/p2p_libp2p_client/

packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/

packages/valory/contracts/gnosis_safe_proxy_factory/
packages/valory/contracts/multisend/
packages/valory/contracts/service_registry/
packages/valory/contracts/gnosis_safe/

packages/valory/protocols/abci
packages/valory/protocols/acn
packages/valory/protocols/contract_api
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/valory/protocols/tendermint

.idea
**/__pycache__/
*.DS_Store

.mypy_cache
/.tox/

.env
.1env
keys.json
leak_report

agent/
trader/
!/packages/valory/agents/trader/
!/packages/valory/services/trader/
/trader_service/
