name: trader
author: valory
version: 0.1.0
description: A set of agents placing bets
aea_version: '>=1.0.0, <2.0.0'
license: Apache-2.0
fingerprint:
  README.md: bafybeigtuothskwyvrhfosps2bu6suauycolj67dpuxqvnicdrdu7yhtvq
fingerprint_ignore_patterns: []
agent: valory/trader:0.1.0:bafybeia44qgnkalaq4lnus2xixlhskp73us53cgpafai2czgqvkavvcfae
number_of_agents: 4
deployment: {}
---
public_id: valory/abci:0.1.0
type: connection
config:
  target_skill_id: valory/trader_abci:0.1.0
  host: ${ABCI_HOST:str:localhost}
  port: ${ABCI_PORT:int:26658}
  use_tendermint: ${ABCI_USE_TM:bool:false}
---
public_id: valory/trader_abci:0.1.0
type: skill
0:
  models:
    params:
      args:
        setup: &id001
          all_participants: ${ALL_PARTICIPANTS:list:[]}
          safe_contract_address: ${SAFE_CONTRACT_ADDRESS:str:0x0000000000000000000000000000000000000000}
          consensus_threshold: ${CONSENSUS_THRESHOLD:int:null}
        cleanup_history_depth: ${CLEANUP_HISTORY_DEPTH:int:1}
        cleanup_history_depth_current: ${CLEANUP_HISTORY_DEPTH_CURRENT:int:null}
        drand_public_key: ${DRAND_PUBLIC_KEY:str:868f005eb8e6e4ca0a47c8a77ceaa5309a47978a7c71bc5cce96366b5d7a569937c529eeda66c7293784a9402801af31}
        finalize_timeout: ${FINALIZE_TIMEOUT:float:60.0}
        genesis_config: &id002
          genesis_time: ${GENESIS_TIME:str:'2023-07-12T00:00:00.000000000Z'}
          chain_id: ${CHAIN_ID:str:chain-c4daS1}
          consensus_params:
            block:
              max_bytes: ${BLOCK_MAX_BYTES:str:'22020096'}
              max_gas: ${MAX_GAS:str:'-1'}
              time_iota_ms: ${TIME_IOTA_MS:str:'1000'}
            evidence:
              max_age_num_blocks: ${MAX_AGE_NUM_BLOCKS:str:'100000'}
              max_age_duration: ${MAX_AGE_DURATION:str:'172800000000000'}
              max_bytes: ${EVIDENCE_MAX_BYTES:str:'1048576'}
            validator:
              pub_key_types: ${PUB_KEY_TYPES:list:["ed25519"]}
            version: ${VERSION:dict:{}}
          voting_power: ${VOTING_POWER:str:'10'}
        init_fallback_gas: ${INIT_FALLBACK_GAS:0}
        keeper_allowed_retries: ${KEEPER_ALLOWED_RETRIES:3}
        keeper_timeout: ${KEEPER_TIMEOUT:float:30.0}
        max_attempts: ${MAX_ATTEMPTS:10}
        max_healthcheck: ${MAX_HEALTHCHECK:120}
        multisend_address: ${MULTISEND_ADDRESS:str:0xA238CBeb142c10Ef7Ad8442C6D1f9E89e07e7761}
        on_chain_service_id: ${ON_CHAIN_SERVICE_ID:int:null}
        reset_tendermint_after: ${RESET_TM_AFTER:INT:2}
        retry_attempts: ${RETRY_ATTEMPTS:400}
        retry_timeout: ${RETRY_TIMEOUT:3}
        reset_pause_duration: ${RESET_PAUSE_DURATION:int:10}
        request_retry_delay: ${REQUEST_RETRY_DELAY:float:1.0}
        request_timeout: ${REQUEST_TIMEOUT:float:10.0}
        round_timeout_seconds: ${ROUND_TIMEOUT:float:150.0}
        service_id: ${SERVICE_ID:str:trader}
        service_registry_address: ${SERVICE_REGISTRY_ADDRESS:str:0x9338b5153AE39BB89f50468E608eD9d764B755fD}
        share_tm_config_on_startup: ${USE_ACN:bool:false}
        sleep_time: ${SLEEP_TIME:1}
        tendermint_check_sleep_delay: ${TM_CHECK_SLEEP_DELAY:3}
        tendermint_com_url: ${TENDERMINT_COM_URL:str:http://localhost:8080}
        tendermint_max_retries: ${TM_MAX_RETRIES:5}
        tendermint_url: ${TENDERMINT_URL:str:http://localhost:26657}
        tendermint_p2p_url: ${TM_P2P_ENDPOINT_NODE_0:str:node0:26656}
        termination_sleep: ${TERMINATION_SLEEP:int:900}
        tx_timeout: ${TX_TIMEOUT:float:10.0}
        use_termination: ${USE_TERMINATION:bool:false}
        validate_timeout: ${VALIDATE_TIMEOUT:1205}
        history_check_timeout: ${HISTORY_CHECK_TIMEOUT:1205}
        creator_per_subgraph: &id003
          omen_subgraph: ${OMEN_CREATORS:list:["0x5367f217f5942cb10db16f2831a11fa287d78216"]}
        slot_count: ${SLOT_COUNT:int:2}
        opening_margin: ${OPENING_MARGIN:int:300}
        languages: ${LANGUAGES:list:["en_US"]}
        mech_agent_id: ${MECH_AGENT_ID:int:3}
        mech_tool: ${MECH_TOOL:str:prediction-online}
        bet_amount_per_threshold: &id004
          0.0: ${00:int:0}
          0.1: ${01:int:0}
          0.2: ${02:int:0}
          0.3: ${03:int:0}
          0.4: ${04:int:0}
          0.5: ${05:int:0}
          0.6: ${06:int:600000000000000000}
          0.7: ${07:int:900000000000000000}
          0.8: ${08:int:1000000000000000000}
          0.9: ${09:int:10000000000000000000}
          1.0: ${10:int:100000000000000000000}
        bet_threshold: ${BET_THRESHOLD:int:100000000000000000}
        blacklisting_duration: ${BLACKLISTING_DURATION:int:3600}
    benchmark_tool: &id005
      args:
        log_dir: ${LOG_DIR:str:/benchmarks}
1:
  models:
    params:
      args:
        setup: *id001
        cleanup_history_depth: ${CLEANUP_HISTORY_DEPTH:int:1}
        cleanup_history_depth_current: ${CLEANUP_HISTORY_DEPTH_CURRENT:int:null}
        drand_public_key: ${DRAND_PUBLIC_KEY:str:868f005eb8e6e4ca0a47c8a77ceaa5309a47978a7c71bc5cce96366b5d7a569937c529eeda66c7293784a9402801af31}
        finalize_timeout: ${FINALIZE_TIMEOUT:float:60.0}
        genesis_config: *id002
        init_fallback_gas: ${INIT_FALLBACK_GAS:0}
        keeper_allowed_retries: ${KEEPER_ALLOWED_RETRIES:3}
        keeper_timeout: ${KEEPER_TIMEOUT:float:30.0}
        max_attempts: ${MAX_ATTEMPTS:10}
        max_healthcheck: ${MAX_HEALTHCHECK:120}
        multisend_address: ${MULTISEND_ADDRESS:str:0xA238CBeb142c10Ef7Ad8442C6D1f9E89e07e7761}
        on_chain_service_id: ${ON_CHAIN_SERVICE_ID:int:null}
        reset_tendermint_after: ${RESET_TM_AFTER:INT:2}
        retry_attempts: ${RETRY_ATTEMPTS:400}
        retry_timeout: ${RETRY_TIMEOUT:3}
        reset_pause_duration: ${RESET_PAUSE_DURATION:int:10}
        request_retry_delay: ${REQUEST_RETRY_DELAY:float:1.0}
        request_timeout: ${REQUEST_TIMEOUT:float:10.0}
        round_timeout_seconds: ${ROUND_TIMEOUT:float:150.0}
        service_id: ${SERVICE_ID:str:trader}
        service_registry_address: ${SERVICE_REGISTRY_ADDRESS:str:0x9338b5153AE39BB89f50468E608eD9d764B755fD}
        share_tm_config_on_startup: ${USE_ACN:bool:false}
        sleep_time: ${SLEEP_TIME:1}
        tendermint_check_sleep_delay: ${TM_CHECK_SLEEP_DELAY:3}
        tendermint_com_url: ${TENDERMINT_COM_URL:str:http://localhost:8080}
        tendermint_max_retries: ${TM_MAX_RETRIES:5}
        tendermint_url: ${TENDERMINT_URL:str:http://localhost:26657}
        tendermint_p2p_url: ${TM_P2P_ENDPOINT_NODE_1:str:node1:26656}
        termination_sleep: ${TERMINATION_SLEEP:int:900}
        tx_timeout: ${TX_TIMEOUT:float:10.0}
        use_termination: ${USE_TERMINATION:bool:false}
        validate_timeout: ${VALIDATE_TIMEOUT:1205}
        history_check_timeout: ${HISTORY_CHECK_TIMEOUT:1205}
        creator_per_subgraph: *id003
        slot_count: ${SLOT_COUNT:int:2}
        opening_margin: ${OPENING_MARGIN:int:300}
        languages: ${LANGUAGES:list:["en_US"]}
        mech_agent_id: ${MECH_AGENT_ID:int:3}
        mech_tool: ${MECH_TOOL:str:prediction-online}
        bet_amount_per_threshold: *id004
        bet_threshold: ${BET_THRESHOLD:int:100000000000000000}
        blacklisting_duration: ${BLACKLISTING_DURATION:int:3600}
    benchmark_tool: *id005
2:
  models:
    params:
      args:
        setup: *id001
        cleanup_history_depth: ${CLEANUP_HISTORY_DEPTH:int:1}
        cleanup_history_depth_current: ${CLEANUP_HISTORY_DEPTH_CURRENT:int:null}
        drand_public_key: ${DRAND_PUBLIC_KEY:str:868f005eb8e6e4ca0a47c8a77ceaa5309a47978a7c71bc5cce96366b5d7a569937c529eeda66c7293784a9402801af31}
        finalize_timeout: ${FINALIZE_TIMEOUT:float:60.0}
        genesis_config: *id002
        init_fallback_gas: ${INIT_FALLBACK_GAS:0}
        keeper_allowed_retries: ${KEEPER_ALLOWED_RETRIES:3}
        keeper_timeout: ${KEEPER_TIMEOUT:float:30.0}
        max_attempts: ${MAX_ATTEMPTS:10}
        max_healthcheck: ${MAX_HEALTHCHECK:120}
        multisend_address: ${MULTISEND_ADDRESS:str:0xA238CBeb142c10Ef7Ad8442C6D1f9E89e07e7761}
        on_chain_service_id: ${ON_CHAIN_SERVICE_ID:int:null}
        reset_tendermint_after: ${RESET_TM_AFTER:INT:2}
        retry_attempts: ${RETRY_ATTEMPTS:400}
        retry_timeout: ${RETRY_TIMEOUT:3}
        reset_pause_duration: ${RESET_PAUSE_DURATION:int:10}
        request_retry_delay: ${REQUEST_RETRY_DELAY:float:1.0}
        request_timeout: ${REQUEST_TIMEOUT:float:10.0}
        round_timeout_seconds: ${ROUND_TIMEOUT:float:150.0}
        service_id: ${SERVICE_ID:str:trader}
        service_registry_address: ${SERVICE_REGISTRY_ADDRESS:str:0x9338b5153AE39BB89f50468E608eD9d764B755fD}
        share_tm_config_on_startup: ${USE_ACN:bool:false}
        sleep_time: ${SLEEP_TIME:1}
        tendermint_check_sleep_delay: ${TM_CHECK_SLEEP_DELAY:3}
        tendermint_com_url: ${TENDERMINT_COM_URL:str:http://localhost:8080}
        tendermint_max_retries: ${TM_MAX_RETRIES:5}
        tendermint_url: ${TENDERMINT_URL:str:http://localhost:26657}
        tendermint_p2p_url: ${TM_P2P_ENDPOINT_NODE_2:str:node2:26656}
        termination_sleep: ${TERMINATION_SLEEP:int:900}
        tx_timeout: ${TX_TIMEOUT:float:10.0}
        use_termination: ${USE_TERMINATION:bool:false}
        validate_timeout: ${VALIDATE_TIMEOUT:1205}
        history_check_timeout: ${HISTORY_CHECK_TIMEOUT:1205}
        creator_per_subgraph: *id003
        slot_count: ${SLOT_COUNT:int:2}
        opening_margin: ${OPENING_MARGIN:int:300}
        languages: ${LANGUAGES:list:["en_US"]}
        mech_agent_id: ${MECH_AGENT_ID:int:3}
        mech_tool: ${MECH_TOOL:str:prediction-online}
        bet_amount_per_threshold: *id004
        bet_threshold: ${BET_THRESHOLD:int:100000000000000000}
        blacklisting_duration: ${BLACKLISTING_DURATION:int:3600}
    benchmark_tool: *id005
3:
  models:
    params:
      args:
        setup: *id001
        cleanup_history_depth: ${CLEANUP_HISTORY_DEPTH:int:1}
        cleanup_history_depth_current: ${CLEANUP_HISTORY_DEPTH_CURRENT:int:null}
        drand_public_key: ${DRAND_PUBLIC_KEY:str:868f005eb8e6e4ca0a47c8a77ceaa5309a47978a7c71bc5cce96366b5d7a569937c529eeda66c7293784a9402801af31}
        finalize_timeout: ${FINALIZE_TIMEOUT:float:60.0}
        genesis_config: *id002
        init_fallback_gas: ${INIT_FALLBACK_GAS:0}
        keeper_allowed_retries: ${KEEPER_ALLOWED_RETRIES:3}
        keeper_timeout: ${KEEPER_TIMEOUT:float:30.0}
        max_attempts: ${MAX_ATTEMPTS:10}
        max_healthcheck: ${MAX_HEALTHCHECK:120}
        multisend_address: ${MULTISEND_ADDRESS:str:0xA238CBeb142c10Ef7Ad8442C6D1f9E89e07e7761}
        on_chain_service_id: ${ON_CHAIN_SERVICE_ID:int:null}
        reset_tendermint_after: ${RESET_TM_AFTER:INT:2}
        retry_attempts: ${RETRY_ATTEMPTS:400}
        retry_timeout: ${RETRY_TIMEOUT:3}
        reset_pause_duration: ${RESET_PAUSE_DURATION:int:10}
        request_retry_delay: ${REQUEST_RETRY_DELAY:float:1.0}
        request_timeout: ${REQUEST_TIMEOUT:float:10.0}
        round_timeout_seconds: ${ROUND_TIMEOUT:float:150.0}
        service_id: ${SERVICE_ID:str:trader}
        service_registry_address: ${SERVICE_REGISTRY_ADDRESS:str:0x9338b5153AE39BB89f50468E608eD9d764B755fD}
        share_tm_config_on_startup: ${USE_ACN:bool:false}
        sleep_time: ${SLEEP_TIME:1}
        tendermint_check_sleep_delay: ${TM_CHECK_SLEEP_DELAY:3}
        tendermint_com_url: ${TENDERMINT_COM_URL:str:http://localhost:8080}
        tendermint_max_retries: ${TM_MAX_RETRIES:5}
        tendermint_url: ${TENDERMINT_URL:str:http://localhost:26657}
        tendermint_p2p_url: ${TM_P2P_ENDPOINT_NODE_3:str:node3:26656}
        termination_sleep: ${TERMINATION_SLEEP:int:900}
        tx_timeout: ${TX_TIMEOUT:float:10.0}
        use_termination: ${USE_TERMINATION:bool:false}
        validate_timeout: ${VALIDATE_TIMEOUT:1205}
        history_check_timeout: ${HISTORY_CHECK_TIMEOUT:1205}
        creator_per_subgraph: *id003
        slot_count: ${SLOT_COUNT:int:2}
        opening_margin: ${OPENING_MARGIN:int:300}
        languages: ${LANGUAGES:list:["en_US"]}
        mech_agent_id: ${MECH_AGENT_ID:int:3}
        mech_tool: ${MECH_TOOL:str:prediction-online}
        bet_amount_per_threshold: *id004
        bet_threshold: ${BET_THRESHOLD:int:100000000000000000}
        blacklisting_duration: ${BLACKLISTING_DURATION:int:3600}
    benchmark_tool: *id005
---
public_id: valory/ledger:0.19.0
type: connection
0:
  config:
    ledger_apis:
      ethereum:
        address: ${RPC_0:str:http://host.docker.internal:8545}
        chain_id: ${CHAIN_ID:int:1337}
        default_gas_price_strategy: ${DEFAULT_GAS_PRICE_STRATEGY:str:eip1559}
        poa_chain: ${POA_CHAIN:bool:false}
1:
  config:
    ledger_apis:
      ethereum:
        address: ${RPC_1:str:http://host.docker.internal:8545}
        chain_id: ${CHAIN_ID:int:1337}
        default_gas_price_strategy: ${DEFAULT_GAS_PRICE_STRATEGY:str:eip1559}
        poa_chain: ${POA_CHAIN:bool:false}
2:
  config:
    ledger_apis:
      ethereum:
        address: ${RPC_2:str:http://host.docker.internal:8545}
        chain_id: ${CHAIN_ID:int:1337}
        default_gas_price_strategy: ${DEFAULT_GAS_PRICE_STRATEGY:str:eip1559}
        poa_chain: ${POA_CHAIN:bool:false}
3:
  config:
    ledger_apis:
      ethereum:
        address: ${RPC_3:str:http://host.docker.internal:8545}
        chain_id: ${CHAIN_ID:int:1337}
        default_gas_price_strategy: ${DEFAULT_GAS_PRICE_STRATEGY:str:eip1559}
        poa_chain: ${POA_CHAIN:bool:false}
---
public_id: valory/p2p_libp2p_client:0.1.0
type: connection
config:
  nodes:
  - uri: ${ACN_URI:str:acn.staging.autonolas.tech:9005}
    public_key: ${ACN_NODE_PUBLIC_KEY:str:02d3a830c9d6ea1ae91936951430dee11f4662f33118b02190693be835359a9d77}
cert_requests:
- identifier: acn
  ledger_id: ethereum
  message_format: '{public_key}'
  not_after: '2023-01-01'
  not_before: '2022-01-01'
  public_key: ${ACN_NODE_PUBLIC_KEY:str:02d3a830c9d6ea1ae91936951430dee11f4662f33118b02190693be835359a9d77}
  save_path: .certs/acn_cosmos_11000.txt
is_abstract: false
